.my-works {
  background: url('https://res.cloudinary.com/dflmq4zxb/image/upload/v1572107001/backgroundImage_xxyjjf.svg')
    no-repeat center;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  &__title {
    color: #3f3d56;
    text-align: center;
    font-size: 2em;
    font-family: 'Salsa';
  }
  &__slider-wrap {
    width: 80%;
    margin: 0 auto;
    .project-div {
      margin: 1em 3em;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.8s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
