.hamburger {
  .hamburger-icon {
    width: 45px;
    display: block;
    &__box {
      display: grid;
      width: 100%;
      grid-template-columns: 15% 75%;
      grid-gap: 10%;
      height: 4px;
      justify-content: flex-start;
      margin-top: 3px;
      
      &__first, &__last {
        background-color: #3F3D56;
      }
    }
    &__box2, &__box3 {
      grid-template-columns: 15% 55%;
      transition: transform 0.3s linear;
    }
  }

  .cut-icon {
      .hamburger-icon__box1, .hamburger-icon__box4 {
          transform: scaleY(0);
      }
      .hamburger-icon__box2, .hamburger-icon__box3 {
        .hamburger-icon__box__first {
              transform: scale(0);
          }
      }
      .hamburger-icon__box2 {
          transform: translateY(calc(50% + 1.5px)) rotate(45deg);
      }
      .hamburger-icon__box3 {
        transform: translateY(-50%) rotate(-45deg);
    }
  }
}
