*{
    box-sizing: border-box;
}

a {
  text-decoration: none;
}
a, input, button, textarea {
    outline: none;
}

li {
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    .main-app{
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    }
}


@keyframes wave-animate {
    0% {
      transform: scale(1) rotate(-40deg);
    }
    25% {
      transform: scale(1) rotate(20deg);
    }
    50% {
      transform: scale(1) rotate(-30deg);
    }
    75% {
      transform: scale(1) rotate(10deg);
    }
    75% {
      transform: scale(1) rotate(0deg);
    }
  }
  @keyframes hide-animate {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showForm-animate {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes lightup-animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes messageMeNow-animate {
    0% {
      transform: translateY(0%);
    }
    4% {
      transform: translateY(-75%);
    }
    8% {
      transform: translateY(0%);
    }
    15% {
      transform: translateY(-50%);
    }
    22% {
      transform: translateY(0%);
    }
    31% {
      transform: translateY(-25%);
    }
    40% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    60% {
      transform: translateY(0%);
    }
    60% {
      transform: translateY(5%);
    }
    75% {
      transform: translateY(0%);
    }
    75% {
      transform: translateY(1%);
    }
    100% {
      transform: translateY(0);
    }
  }
  