.toast-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    position: fixed;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 1em;
    p {
        font: 400 0.9em 'Red Hat Display';
        margin: 0 1em;
        text-align: center;
    }
    img {
     height: 20px;
     margin-right: 1em;
    }
    svg {
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.5);
        }
    }
}