.footer {
    background-color: #3F3D56;
    padding: 2em;
    margin-top: 2em;
    flex-flow: column;
    .social-links-wrap {
        display: flex;
        flex-wrap: wrap;
        .social-link {
            transition: transform 0.5s ease;
            margin: 1em;
            img {
                height: 2em;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    p {
        font: 400 0.7em 'Red Hat Display';
        color: white;
    }
}