.contact-me-form-wrap {
  position: fixed;
  right: 2em;
  bottom: 1em;
  width: fit-content;
  text-align: right;
  z-index: 200;
  @media screen and (max-width: 500px) {
    font-size: 0.85em;
    right: 1em;
  }
  .contact-me-form {
    max-height: 80vh;
    width: 23em;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    margin: 0 auto;
    margin-right: 2em;
    background: url('https://res.cloudinary.com/dflmq4zxb/image/upload/v1572288537/Group_20_vqbjyk.svg')
      center no-repeat;
    background-size: cover;
    border-radius: 0px 2.5em 0px 2.5em;
    animation: showForm-animate 0.5s ease backwards;
    display: flex;
    flex-flow: column;
    form {
      max-height: 100%;
      overflow-y: scroll;
    }
    @media screen and (max-width: 500px) {
        margin-right: 0em;
      }
    &__sect1 {
      width: 80%;
      margin: 0 auto 1em auto;
      height: 10em;
      h2 {
        font: 600 1.3em 'Red Hat Display';
        color: white;
        margin: 1em auto;
        text-align: center;
      }

      .hello-wrap {
        display: flex;
        align-items: center;
        img {
          margin-left: 0.5em;
          width: 1.3em;
          height: 1.3em;
          animation: hide-animate 1s 1s linear backwards,
            wave-animate 0.8s 2s linear infinite;
        }
      }
      .instructions-wrap {
        margin: 1em auto;
        .instructions-wrap-msg {
          font: 400 0.9em 'Red Hat Display';
          color: white;
        }
      }
    }
    &__sect2 {
      padding: 1em;
      width: 80%;
      border: 1px solid transparent;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 0 auto;
      background-color: white;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      animation: lightup-animate 0.5s 1s ease-out backwards;
      input {
        width: 90%;
        margin: 0.5em auto;
        padding: 0.8em 0.2em;
        border: none;
        border-bottom: 1px solid #adadad;
        font: 400 0.85em 'Red Hat Display';
        color: rgb(116, 116, 116);
      }
    }
    &__sect3 {
      width: 90%;
      margin: 2em auto 1em;
      animation: lightup 0.5s 1.5s ease-out backwards;
      flex-grow: 1;
      textarea {
        height: 12.5em;
        width: 100%;
        padding: 1em;
        border: none;
        font-size: 0.9em;
        font-family: 'Red Hat Display';
        resize: none;
        color: rgb(116, 116, 116);
      }
      button {
        margin: 0.5em 1em 0 auto;
        border: 1px solid #0061f3;
        border-radius: 5px;
        padding: 0.5em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75em;
        font-family: 'Red Hat Display';
        color: #0061f3;
        background-color: transparent;
        cursor: pointer;
        img {
          margin-left: 1em;
        }
      }
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #adadad;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #adadad;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #adadad;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #adadad;
    }
  }

  .contact-me-button {
    width: 50px;
    height: 50px;
    background-color: #0061f3;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 1em 0em auto auto;
    cursor: pointer;
    img {
      width: 20px;
      height: 20px;
      animation: messageMeNow-animate 4s ease infinite;
    }
  }
}
